@* @page "/Azienda"
@using Taurinorum.Object.DataTrasportObject
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Taurinorum.Object.FilterModel
@inject NavigationManager NavManager
@inject ProtectedSessionStorage ProtectedSessionStore
@inject IJSRuntime JsRuntime
@inject IWebHostEnvironment Environmen
<h3>Aziende</h3>

<br>

<div class="row" align="left">
    <div class="col-4" align="left">
        <b>Numero Aziende: @(listAziende.Count().ToString())</b>
    </div>
    <div class="col-8" align="right">
        <button @onclick="() => DettaglioAzienda(0)" style="width : 40%" class="btn btn-site" >Nuova Azienda</button>
    </div>

    <div style="overflow-y:scroll; overflow-x:hidden; height:720px;">
        <br>
        <br>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th></th>
                    <th>Nome</th>
                    <th>Referente</th>
                    <th>N° Telefono</th>
                    <th>Referente 2</th>
                    <th>N° Telefono 2</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var aziendaSelezionata in listAziende)
                {
                    <tr>
                        <td><a @onclick="() => DettaglioAzienda(aziendaSelezionata.ID)" class="scritteRosse" target="_self">Modifica</a></td>
                        <td>@aziendaSelezionata.Nome</td>
                        <td>@aziendaSelezionata.Referente</td>
                        <td>@aziendaSelezionata.NumTelefono</td>
                        <td>@aziendaSelezionata.Referente2</td>
                        <td>@aziendaSelezionata.NumTelefono2</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

@code {

    private List<AziendaDTO> listAziende = new List<AziendaDTO>();
    private UtenteDTO utente = new UtenteDTO();
    private RestService restService = new RestService();

    protected override async Task OnInitializedAsync()
    {
        listAziende = await restService.Azienda_GetListAsync(new AziendaFM());
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            var Result = await ProtectedSessionStore.GetAsync<int>("IdUtente");
        }
        catch
        {
            NavManager.NavigateTo("");
        }
    }

    private void DettaglioAzienda(int ID)
    {
        PassaggioID(ID);
        NavManager.NavigateTo("/DettaglioAzienda");
    }
    
    private async Task PassaggioID(int ID)
    {
        await ProtectedSessionStore.SetAsync("IdAzienda", ID);
    }
} *@